*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deepskyblue;
  }
  
  li {
    float: right;
    display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  }


body{
    font-family: arial,sans-serif;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/contactluna.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image/nightview.jpg);
    background-size: cover;
    background-position: center;
}

h2{
    font-size: 50px;
    color: white;
    text-align: center;
}
.accordion{
    width: 50%;
    margin: auto;
    padding: 18px;
    
    background:deepskyblue;
    text-align: center;
}

/* .accordion-tab .accordion-toggle{
    display: none;
} */

.accordion-tab > label{
    color:black;
    background: yellow;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 12px 20px;
    cursor: pointer;    
    border-top: 1px solid wheat;
}

.accordion-tab > .accordion-content{
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}

.accordion-tab > .accordion-toggle:checked ~ .accordion-content{
    max-height: 100vh;
    padding: 20px;
}