*
{  
    margin: 0;
    padding: 0;
    
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: deepskyblue;
 }
 
 li {
   float: right;
   display: block;
 color:black;
 text-align: center;
 padding: 15px 16px;
 text-decoration: none;
 }

body{
   background: url(image/show.png) no-repeat center center fixed;
    
   background-size: cover;
}

.contact_form
{
 padding: 30px 0; 
}

h1
{
   text-align: center;
   color:  black;
   font-size: 40px;
}

.contact_form .single_box
{
     
    text-align: center;
     

}

.contact_form .single_box span
{
   font-size: 34px;
   color: red;
   
   
}

.contact_form  .single_box h2
{
   font-size: 20px;
   color: white;
}

 p
{
   text-align: center;
   color: white;

}

form
{


   background: lightblue;
   padding: 30px;
   box-shadow:  inset 0px 0px 20px 4px #434f77da;
}

form label
{
   text-transform:capitalize;
  color: black;
}


form input{
   border-radius: 0 !important;
   /* padding: 10px !important; */
   border: none !important;
}

form button 
{
   border-radius: 0 !important;
   /* padding:50px !important; */
   border: none !important;
   box-shadow: inset 0px 0px 20px 2px rgb(100, 48, 48);
   color: black !important;
}

form button:hover
{
   
   background:yellow;
}

form textarea
{
   border-radius: 0 !important;
   border: none !important;

}